@page "/tbl-ic-warehouses"
@layout MainLayout
@inherits CanErp2.Pages.TblIcWarehousesComponent

@using Radzen
@using Radzen.Blazor
@using CanErp2.Models.DbAtVdc2
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Tbl Ic Warehouses">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getTblIcWarehousesResult" TItem="CanErp2.Models.DbAtVdc2.TblIcWarehouse" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblIcWarehouse" Context="canErp2ModelsDbAtVdc2TblIcWarehouse" Property="Warehouse_ID" Title="Warehouse ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblIcWarehouse" Context="canErp2ModelsDbAtVdc2TblIcWarehouse" Property="WarehouseName" Title="Warehouse Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblIcWarehouse" Context="canErp2ModelsDbAtVdc2TblIcWarehouse" Property="WarehouseAddress" Title="Warehouse Address">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblIcWarehouse" Context="canErp2ModelsDbAtVdc2TblIcWarehouse" Property="Inactive" Title="Inactive">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblIcWarehouse" Context="canErp2ModelsDbAtVdc2TblIcWarehouse" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="canErp2ModelsDbAtVdc2TblIcWarehouse">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, canErp2ModelsDbAtVdc2TblIcWarehouse))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
