@page "/tbl-so-order-detail-statuses"
@layout MainLayout
@inherits CanErp2.Pages.TblSoOrderDetailStatusesComponent

@using Radzen
@using Radzen.Blazor
@using CanErp2.Models.DbAtVdc2
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Tbl So Order Detail Statuses">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getTblSoOrderDetailStatusesResult" TItem="CanErp2.Models.DbAtVdc2.TblSoOrderDetailStatus" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblSoOrderDetailStatus" Context="canErp2ModelsDbAtVdc2TblSoOrderDetailStatus" Property="SODetailStatus_SEQ" Title="SO Detail Status SEQ">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblSoOrderDetailStatus" Context="canErp2ModelsDbAtVdc2TblSoOrderDetailStatus" Property="SODetailStatus_ID" Title="SO Detail Status ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblSoOrderDetailStatus" Context="canErp2ModelsDbAtVdc2TblSoOrderDetailStatus" Property="SODetailStatusText" Title="SO Detail Status Text">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblSoOrderDetailStatus" Context="canErp2ModelsDbAtVdc2TblSoOrderDetailStatus" Property="Description" Title="Description">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblSoOrderDetailStatus" Context="canErp2ModelsDbAtVdc2TblSoOrderDetailStatus" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="canErp2ModelsDbAtVdc2TblSoOrderDetailStatus">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, canErp2ModelsDbAtVdc2TblSoOrderDetailStatus))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
