@page "/tbl-gn-payment-types"
@layout MainLayout
@inherits CanErp2.Pages.TblGnPaymentTypesComponent

@using Radzen
@using Radzen.Blazor
@using CanErp2.Models.DbAtVdc2
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Tbl Gn Payment Types">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getTblGnPaymentTypesResult" TItem="CanErp2.Models.DbAtVdc2.TblGnPaymentType" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblGnPaymentType" Context="canErp2ModelsDbAtVdc2TblGnPaymentType" Property="PaymentType_SEQ" Title="Payment Type SEQ">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblGnPaymentType" Context="canErp2ModelsDbAtVdc2TblGnPaymentType" Property="PaymentType_ID" Title="Payment Type ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblGnPaymentType" Context="canErp2ModelsDbAtVdc2TblGnPaymentType" Property="PaymentTypeText" Title="Payment Type Text">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblGnPaymentType" Context="canErp2ModelsDbAtVdc2TblGnPaymentType" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="canErp2ModelsDbAtVdc2TblGnPaymentType">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, canErp2ModelsDbAtVdc2TblGnPaymentType))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
