@page "/tbl-gn-address-book-types"
@layout MainLayout
@inherits CanErp2.Pages.TblGnAddressBookTypesComponent

@using Radzen
@using Radzen.Blazor
@using CanErp2.Models.DbAtVdc2
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Tbl Gn Address Book Types">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getTblGnAddressBookTypesResult" TItem="CanErp2.Models.DbAtVdc2.TblGnAddressBookType" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblGnAddressBookType" Context="canErp2ModelsDbAtVdc2TblGnAddressBookType" Property="AddressBookType_SEQ" Title="Address Book Type SEQ">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblGnAddressBookType" Context="canErp2ModelsDbAtVdc2TblGnAddressBookType" Property="AddressBookType_ID" Title="Address Book Type ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblGnAddressBookType" Context="canErp2ModelsDbAtVdc2TblGnAddressBookType" Property="AddressBookTypeText" Title="Address Book Type Text">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblGnAddressBookType" Context="canErp2ModelsDbAtVdc2TblGnAddressBookType" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="canErp2ModelsDbAtVdc2TblGnAddressBookType">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, canErp2ModelsDbAtVdc2TblGnAddressBookType))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
