@page "/tbl-po-accounts-payable-adjustments"
@layout MainLayout
@inherits CanErp2.Pages.TblPoAccountsPayableAdjustmentsComponent

@using Radzen
@using Radzen.Blazor
@using CanErp2.Models.DbAtVdc2
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Tbl Po Accounts Payable Adjustments">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getTblPoAccountsPayableAdjustmentsResult" TItem="CanErp2.Models.DbAtVdc2.TblPoAccountsPayableAdjustment" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoAccountsPayableAdjustment" Context="canErp2ModelsDbAtVdc2TblPoAccountsPayableAdjustment" Property="Voucher_No" Title="Voucher No">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoAccountsPayableAdjustment" Context="canErp2ModelsDbAtVdc2TblPoAccountsPayableAdjustment" Property="Voucher_Date" FormatString="{0:dd/MM/yyyy}" Title="Voucher Date">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoAccountsPayableAdjustment" Context="canErp2ModelsDbAtVdc2TblPoAccountsPayableAdjustment" Property="Vendor_FK" Title="Vendor FK">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoAccountsPayableAdjustment" Context="canErp2ModelsDbAtVdc2TblPoAccountsPayableAdjustment" Property="Transact_ID" Title="Transact ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoAccountsPayableAdjustment" Context="canErp2ModelsDbAtVdc2TblPoAccountsPayableAdjustment" Property="Record_Code" Title="Record Code">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoAccountsPayableAdjustment" Context="canErp2ModelsDbAtVdc2TblPoAccountsPayableAdjustment" Property="PO_No" Title="PO No">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoAccountsPayableAdjustment" Context="canErp2ModelsDbAtVdc2TblPoAccountsPayableAdjustment" Property="Invoice_No" Title="Invoice No">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoAccountsPayableAdjustment" Context="canErp2ModelsDbAtVdc2TblPoAccountsPayableAdjustment" Property="Invoice_Date" FormatString="{0:dd/MM/yyyy}" Title="Invoice Date">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoAccountsPayableAdjustment" Context="canErp2ModelsDbAtVdc2TblPoAccountsPayableAdjustment" Property="Debit_Account" Title="Debit Account">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoAccountsPayableAdjustment" Context="canErp2ModelsDbAtVdc2TblPoAccountsPayableAdjustment" Property="Credit_Account" Title="Credit Account">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoAccountsPayableAdjustment" Context="canErp2ModelsDbAtVdc2TblPoAccountsPayableAdjustment" Property="Description" Title="Description">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoAccountsPayableAdjustment" Context="canErp2ModelsDbAtVdc2TblPoAccountsPayableAdjustment" Property="Amount" Title="Amount">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoAccountsPayableAdjustment" Context="canErp2ModelsDbAtVdc2TblPoAccountsPayableAdjustment" Property="Authorize_By" Title="Authorize By">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErp2.Models.DbAtVdc2.TblPoAccountsPayableAdjustment" Context="canErp2ModelsDbAtVdc2TblPoAccountsPayableAdjustment" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="canErp2ModelsDbAtVdc2TblPoAccountsPayableAdjustment">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, canErp2ModelsDbAtVdc2TblPoAccountsPayableAdjustment))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
