@inherits CanErp2.Layouts.MainLayoutComponent

@using Radzen
@using Radzen.Blazor
@using CanErp2.Models.DbAtVdc2
<RadzenDialog />
<RadzenNotification />

<RadzenHeader>
  <ChildContent>
    <div class="row justify-content-start align-items-center">
      <div class="col-md-6 d-flex align-items-center">
        <RadzenSidebarToggle Click="@SidebarToggle0Click">
        </RadzenSidebarToggle>
        <RadzenLabel Text="CanErp2">
        </RadzenLabel>
      </div>
      <div class="col-md-6 text-lg-right">
      </div>
    </div>
  </ChildContent>
</RadzenHeader>
<RadzenBody @ref="body0">
  <ChildContent>
    <RadzenContentContainer Name="main">
    @Body
    </RadzenContentContainer>
  </ChildContent>
</RadzenBody>
<RadzenSidebar @ref="sidebar0">
  <ChildContent>
    <RadzenPanelMenu style="height: 100%">
      <ChildContent>
        <RadzenPanelMenuItem Text="Đơn Hàng">
          <ChildContent>
            <RadzenPanelMenuItem Path="tbl-po-purchase-orders" Text="DS Đơn">
            </RadzenPanelMenuItem>
          </ChildContent>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Mua Hàng">
          <ChildContent>
            <RadzenPanelMenuItem Path="tbl-po-purchase-orders" Text="DS Đơn Mua">
            </RadzenPanelMenuItem>
          </ChildContent>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Khách hàng">
          <ChildContent>
            <RadzenPanelMenuItem Path="tbl-so-customers" Text="Khách hàng">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="tbl-gn-address-books" Text="Address Book">
            </RadzenPanelMenuItem>
          </ChildContent>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Kho & NVL">
          <ChildContent>
            <RadzenPanelMenuItem Path="tbl-ic-warehouses" Text="DS Kho">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="tbl-gn-products" Text="DS Hàng hóa">
            </RadzenPanelMenuItem>
          </ChildContent>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Cài đặt chung">
          <ChildContent>
            <RadzenPanelMenuItem Path="tbl-gn-incoterms" Text="Incoterms">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="tbl-gn-payment-terms" Text="ĐK Thanh toán">
            </RadzenPanelMenuItem>
          </ChildContent>
        </RadzenPanelMenuItem>
      </ChildContent>
    </RadzenPanelMenu>
  </ChildContent>
</RadzenSidebar>
<RadzenFooter>
  <ChildContent>
    <RadzenLabel Text="CanErp2, Copyright Ⓒ 2020">
    </RadzenLabel>
  </ChildContent>
</RadzenFooter>
